.lead__subtitle {
  margin: 0;
  text-align: center;
  white-space: pre-line;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: #fff;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 707px) {
  .lead__subtitle {
    font-size: 23px;
  }
}

@media screen and (max-width: 470px) {
  .lead__subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
}