.intro {
  padding-bottom: 92px;
}

@media screen and (max-width: 928px) {
  .intro {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding-bottom: 64px;
  }
}
