.cover__title {
  margin: 0 auto;
  max-width: 560px;
  white-space: pre-line;
  text-align: center;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  margin-bottom: 32px;
  padding-top: 20.69%;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    padding-top: 19.04%;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    padding-top: 14.97%;
  }
}

@media screen and (max-width: 707px) {
  .cover__title {
    font-size: 48px;
  }
}

@media screen and (max-width: 470px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    padding-top: 10.31%;
  }
}