.cover {
  max-width: 1184px;
  margin: 0 auto 92px;
}

@media screen and (max-width: 928px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin-bottom: 64px;
  }
}
