.header__lang-link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.17;
  text-decoration: none;
  transition: opacity .3s ease-in;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}

.header__lang-link:hover {
  opacity: .8;
}
